# Servidor
PORT=3000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# MongoDB Atlas
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>/<db-name>?retryWrites=true&w=majority

# JWT
JWT_SECRET=supersecreto_cambia_esto
JWT_EXPIRES_IN=7d

# Correo (Nodemailer)
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=your_user
MAIL_PASS=your_pass
MAIL_FROM="PetConnect <no-reply@petconnect.app>"

# Reseñas: correos de admin para reportes (separados por coma). Si se omite, se usa el primer usuario con role=admin
# ADMIN_REVIEW_EMAILS=admin@tu-dominio.cl